$primary-color: #566ADF;
$headingsColor: #1d2d35;
$backgroundColor: rgba(255,255,255,0.95);
$buttonHover: rgb(123 104 238 / 50%);
$navItemsColor: #04263d;
$red: red;
$borderColoRegular: rgba(0, 0, 0, 0.1);
$textColorExtraLight: rgba(0,0,0,0.2);
$textColorLight: rgba(0,0,0,0.4);
$textColorMedium: rgba(0,0,0,0.6);
$textColorDark: rgba(17, 17, 17, 1);
$textColorRegular: rgba(4, 4, 4, 1);